BASE_PATH_HOST=$HOME/Desktop/FoMo-SDK/data/lidar-evaluation
TARGET_DEPLOYMENTS=("2024-11-21" "2025-01-29") # "2025-03-10" "2025-06-26")
TARGET_TRAJECTORY="blue"

BAGFILE_NAME="blue-2025-06-26-10-35" # If empty, all bag files in the directory ("sensors") will be used.
BAGFILE_PATH_HOST="/Desktop/FoMo-SDK/data/lidar-evaluation/2024-11-21/"
BAGFILE_PATH_HOST="/Users/mbo/Desktop/FoMo-SDK/data/lidar-evaluation/2024-11-21/blue-2024-11-21-10-44"
OUTPUT_PATH_HOST=$BASE_PATH_HOST/evaluation_output

CALIB_PATH_HOST="$BASE_PATH_HOST/${BAGFILE_NAME}/calib"

 # path on the host that's preserved between different runs
 # the evaluated algorithms can use the path to save data between runs
PROCESSING_PATH_HOST="/tmp/data"

TEST_MODE=0 # 0: Run the bigger RPE deltas, 1: Run the smaller RPE deltas

ROSBAG_PLAY_RATE=1.0

UID=501 # replace this with the output of id -u. Default is 1000
GID=20 # replace this with the output of id -g. Default is 1000

REFERENCE_TRAJECTORY_FILE_HOST=$BASE_PATH_HOST/${BAGFILE_NAME}/gt.csv
ESTIMATED_TRAJECTORY_FILE_HOST=$OUTPUT_PATH_HOST/estimated_trajectory.txt # Generated during docker compose up record_odometry, but feel free to test with a different one.
OUTPUT_FILE_NAME="" # If empty, the default name will be used.

NORLAB_LIDAR_ODOM_IMAGE="norlab/mapping:latest"
SLAM_IMAGE="norlab/odometry:latest"
DEV_DOCKER=true
#SLAM_CONFIG_OVERRIDE_FILE=./config/slam/override_config.yaml

#TOPICS_FILE="tracks/passive.txt"
TOPICS_FILE="" # If empty, all topics will be used.

# BASE_IMAGE=osrf/ros:humble-desktop # Intel / AMD
# BASE_IMAGE=arm64v8/ros:humble # RPi, Jetson
BASE_IMAGE=arm64v8/ros:humble # Apple Silicon

MAPPING_DATE=$BAGFILE_NAME
LOCALIZATION_DATE=$BAGFILE_NAME
SLAM_NAME=$SLAM_IMAGE
