# BAGFILES_PATH_HOST=$HOME/bagfiles_competition/grass_track_training2
BAGFILES_PATH_HOST=$HOME/Desktop/FoMo-SDK/data/lidar-evaluation/2024-11-21
# BAGFILE_NAME=sensors
BAGFILE_NAME="blue-2024-11-21-10-44" # If empty, all bag files in the directory ("sensors") will be used.
OUTPUT_PATH_HOST=$BAGFILES_PATH_HOST/evaluation_output

CALIB_PATH_HOST="$BAGFILES_PATH_HOST/${BAGFILE_NAME}/calib"

TEST_MODE=0 # 0: Run the bigger RPE deltas, 1: Run the smaller RPE deltas

ROSBAG_PLAY_RATE=5.0

REFERENCE_TRAJECTORY_FILE_HOST=$BAGFILES_PATH_HOST/gt.tum
ESTIMATED_TRAJECTORY_FILE_HOST=$OUTPUT_PATH_HOST/estimated_trajectory.txt # Generated during docker compose up record_odometry, but feel free to test with a different one.
#OUTPUT_FILE_NAME=estimated_trajectory.txt
OUTPUT_FILE_NAME="" # If empty, the default name will be used.

NORLAB_LIDAR_ODOM_IMAGE="norlab/mapping:latest"
SLAM_IMAGE="norlab/odometry:latest"
DEV_DOCKER=true
#SLAM_CONFIG_OVERRIDE_FILE=./config/slam/override_config.yaml

#TOPICS_FILE="tracks/passive.txt"
TOPICS_FILE="" # If empty, all topics will be used.

# BASE_IMAGE=osrf/ros:humble-desktop # Intel / AMD
# BASE_IMAGE=arm64v8/ros:humble # RPi, Jetson
BASE_IMAGE=arm64v8/ros:humble # Apple Silicon
