# ========1. Shared section========
OUTPUT_PATH_HOST=/home/matej/Desktop/evaluation_red_full

# path on the host that's preserved between different runs
# the evaluated algorithms can use the path to save data between runs
PROCESSING_PATH_BASE="/home/matej/Desktop/evaluation_red_full_data"

TEST_MODE=0 # 0: Run the bigger RPE deltas, 1: Run the smaller RPE deltas

ROSBAG_PLAY_RATE=1.0

OUTPUT_FILE_NAME="" # If empty, the default name will be used.

NORLAB_LIDAR_ODOM_IMAGE="norlab/mapping:latest"
SLAM_IMAGE="norlab/orbslam3:latest"
DEV_DOCKER=true

FOMO_UID=1002 # replace this with the output of id -u. Default is 1000
FOMO_GID=1004 # replace this with the output of id -g. Default is 1000

# If empty, only the basic topics will be used.
# Basic topics: /tf_static /vectornav/data_raw /xsens/data_raw /warthog/platform/odom
TOPICS_FILE="/home/matej/fomo-bench/topics/topics-stereovslam.txt" # Must be a full path to the topics file

BASE_IMAGE=osrf/ros:humble-desktop

# --------End of Shared section--------


# ========2. Seasons evaluation section========
# Evaluates $SLAM_IMAGE with the cross-seasonal pipeline
# fill these variables before running the run_pipeline_seasons.sh script
BASE_PATH_HOST=/media/kamyar/local_nas/FOMO/vslam_data
TARGET_DEPLOYMENTS=("2024-11-21" "2025-01-29" "2025-03-10" "2025-06-26")
TARGET_TRAJECTORY="red"
# --------End of seasons evaluation section--------

# ========3. Single evaluation section========
# Evaluates $SLAM_IMAGE with a single deployment
# fill these variables before running the run_pipeline.sh script
BAGFILE_NAME="red_2024-11-21-10-34"
BAGFILE_PATH_HOST="/media/kamyar/local_nas/FOMO/vslam_data/2024-11-21/${BAGFILE_NAME}"
CALIB_PATH_HOST="$BAGFILE_PATH_HOST/$BAGFILE_NAME/calib"
REFERENCE_TRAJECTORY_FILE_HOST="$BAGFILE_PATH_HOST/gt.csv"
MAPPING_DATE=$BAGFILE_NAME
LOCALIZATION_DATE=$BAGFILE_NAME

# Generated during docker compose up record_odometry, but feel free to test with a different one.
ESTIMATED_TRAJECTORY_FILE_HOST=$OUTPUT_PATH_HOST/estimated_trajectory.txt
# --------End of single evaluation section--------
